* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 450px;
  height: 400px;
  max-width: 100%;
}

.header {
  background: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
}

input {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  line-height: 2;
  text-align: center;
}

.form button {
  background: #466c94;
  border: 2px solid #466c94;
  border-radius: 4px;
  color: #ffffff;
  display: block;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

form button:hover {
  background: #2c3e50;
  border-color: #2c3e50;
}

.dnaresult {
  font-weight: 600;
  font-size: 17px;
  margin-top: 20px;
}
